# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go-CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, edited, synchronize, labeled, unlabeled]
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Test
        env:
          ENNCY_TOKEN: ${{ secrets.ENNCY_TOKEN }}
        run: go test -v ./...

      - name: Go Lint
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: './...'

      - name: JS Lint
        run: |
          cd web
          npm install
          npm run lint